/*
https://coolors.co/011627-f71735-41ead4-fdfffc-ff9f1c
*/

:root {
    --color-scheme: light dark;
    --dark-main: #011627;
    --light-main: #FDFFFC;
}

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;

    font-size: 17px;
    text-rendering: optimizeLegibility;
    font-family: 'Ovo', serif;

    background-color: var(--light-main);
    color: var(--dark-main);
}

body {
    padding: 20px 400px 50px 400px;
}

main {
    margin-top: 30px;
    padding: 30px;
}

a {
    color: rgb(0, 203, 230);
    transition: 0.3s all ease-in;
    font-weight: bold;
}

a:hover {
    color: #41EAD4;
}

i {
    font-size: 20px;
    margin-right: 16px;
}

#software i {
    font-size: 14px;
    margin-right: 16px;
}

#software p {
    font-size: 14px;
}

hr {
    background-color: #858585;
}

@media screen and (max-width: 1500px) {
    body {
        padding: 10px 300px 50px 300px;
    }
}

@media screen and (max-width: 1200px) {
    body {
        padding: 0px 200px 50px 200px;
    }
}

@media screen and (max-width: 992px) {
    body {
        padding: 10px;
    }

    i {
        font-size: 35px;
        margin-top: 10px;
    }
}

@media (prefers-color-scheme: dark) {
    html,
    body {
        background-color: var(--dark-main);
        color: var(--light-main);
    }
}
