/*
https://uigradients.com/#Lawrencium
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

:root {
    --color-scheme: light dark;

    --text-main: #eee0e7;
    --bg-main: #1C1D21;
    --bg-body: #1c1d21a9;

    --mid-size: 20px;
}

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;

    font-size: 18px;
    text-rendering: optimizeLegibility;
    font-family: 'Exo', sans-serif;

    color: var(--text-main);
    /*background-color: var(--bg-body);*/

    background: rgb(15,12,41,0.7);
    background: -moz-linear-gradient(135deg, rgba(15,12,41,0.7) 0%, rgba(48,43,99,0.7) 48%, rgba(36,36,62,0.7) 100%);
    background: -webkit-linear-gradient(135deg, rgba(15,12,41,0.7) 0%, rgba(48,43,99,0.7) 48%, rgba(36,36,62,0.7) 100%);
    background: linear-gradient(135deg, rgba(15,12,41,0.7) 0%, rgba(48,43,99,0.7) 48%, rgba(36,36,62,0.7) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f0c29",endColorstr="#24243e",GradientType=1);
}

#profile-img {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.7) inset;
    border-radius: 15%;
    width: 132px;
}

#email {
    font-weight: bold;
    font-size: var(--mid-size);
}

#name {
    font-size: 70px;
    letter-spacing: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 42px;
}

.icon {
    margin: 23px 16px 23px 16px;
    text-shadow: 0 0 10px #000f089e;
    font-size: 36px;
}

.icon:hover,
.icon:active {
    text-decoration: none !important;
}

.nav-link {
    font-size: var(--mid-size);
    margin-right: 10px;
    margin-left: 10px;
}

.project-li {
    margin-top: 70px;
}

.project-name {
    font-size: var(--mid-size);
    font-weight: bold;
}

.project-more {
    color: #777;
}

.project-info {
    color: #999;
}

a {
    color: rgb(255, 255, 255);
    transition: all 0.5s;
}

a:hover {
    color: rgb(192, 192, 192);
}

section {
    text-align: center;
    padding: 150px 250px 150px 250px;
}

section h2 {
    text-transform: uppercase;
    margin-bottom: 30px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    letter-spacing: 2px;
}

footer, nav {
    /*background-color: #2A3D45;*/
    background: rgb(15,12,41);
    background: -moz-linear-gradient(135deg, rgba(15,12,41,1) 0%, rgba(48,43,99,1) 48%, rgba(36,36,62,1) 100%);
    background: -webkit-linear-gradient(135deg, rgba(15,12,41,1) 0%, rgba(48,43,99,1) 48%, rgba(36,36,62,1) 100%);
    background: linear-gradient(135deg, rgba(15,12,41,1) 0%, rgba(48,43,99,1) 48%, rgba(36,36,62,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f0c29",endColorstr="#24243e",GradientType=1);

    box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
}

footer {
    bottom: 0;
}

hr {
    height: 3px;
    width: 250px;
    background-color: #ffffffbb !important;
}

@media screen and (max-width: 1500px) {
}

@media screen and (max-width: 1200px) {
    section {
        padding: 150px 75px 150px 75px !important;
    }
}

@media screen and (max-width: 992px) {
    #name {
        font-size: 35px !important;
        letter-spacing: 8px !important;
    }

    section h2 {
        letter-spacing: 0px !important;
    }    

    section {
        padding: 150px 25px 150px 25px !important;
    }

    header {
        display: none;
    }
}

@media (prefers-color-scheme: dark) {

}
